// Цвета
$color-white: #ffffff;
$color-black: #000000;

// Цвета текста
$txt-grey: #3b4761;
$txt-white: #f7f2ea;

$btn-green: #17C2A4;
$btn-green-shadow: #009c7e;

$btn-orange: #eb7d4b;
$btn-orange-shadow: #c55725;

$btn-blue: #30BAE7;
$btn-blue-shadow: #0a94c1;

// Цвета формы
$background-form: #273A71;

// Секции
$section-header: #42274f;
$section-purple: #643a79;
$section-green: #17c2a4;
$section-grey: #e7f1f8;
$section-white: #fff;
$section-orange: #ffdd99;
$section-pink: #d74680;
$section-blue: #5d70a9;
$section-footer: #344b8e;
