// Переменные
@import "abstracts/variables";

// Утилиты
@import "utils/media";
@import "utils/utilities";

// Сброс стилей и базовые стили
@import "base/reset";
@import "base/main";
@import "base/animation";

// Компоненты
@import "components/hover_effects";
@import "components/burger";
@import "components/btn";
@import "components/underline";
@import "components/underline";
@import "components/float-label";
@import "components/form";

// Секции
@import "pages/rooms";
.block {
    width: 100px;
    height: 100px;

    background-color: red;
}
