{% extends 'base.html' %}

{% block content %}
  <h1>Форма заселения</h1>
  <form method="POST">
    {{ form.hidden_tag() }}

    <div class="form-group">
      <label for="employee">Сотрудник</label>
      {{ form.employee(class="form-control", id="employee") }}
    </div>

    <div class="form-group">
      <label for="check_in_date">Дата заселения</label>
      {{ form.check_in_date(class="form-control", id="check_in_date") }}
    </div>

    <div class="form-group">
      <label for="check_out_date">Дата выселения</label>
      {{ form.check_out_date(class="form-control", id="check_out_date") }}
    </div>

    <div class="form-group">
      <label for="building">Здание</label>
      {{ form.building(class="form-control", id="building") }}
    </div>

    <div class="form-group">
      <label for="floor">Этаж</label>
      {{ form.floor(class="form-control", id="floor") }}
    </div>

    <div class="form-group">
      <label for="room">Комната</label>
      {{ form.room(class="form-control", id="room") }}
    </div>

    <div class="form-group">
      <label for="bed">Койка</label>
      {{ form.bed(class="form-control", id="bed") }}
    </div>

    <button type="submit" class="btn btn-primary">{{ form.submit }}</button>
  </form>
{% endblock %}
